<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HoneyDue</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@200;400;600&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/74d7432073.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section class="main">
        <h1>HoneyDue</h1>
        <h3>For when you're as busy as a bee!</h3>
        <section class="card">
            <a href="/login" class="button pointer"> Login</a>
            <p>or</p>
            <a href="/signup" class="button pointer"> Signup</a>
        </section>
    </section>

    <footer>
        <small>HoneyDue &copy; 2022 | Created by: <a href="https://github.com/100devs" target="_blank">100Devs</a></small>
    </footer>
</body>
</html>