:root {
    --background-dark: #022038;
    --background-mid: #043e6c;
    --background-bright: #0669b8;
    --black: #303030;
    --blue: #0891ff;
    --yellow: #fabe68;
    --white: #fafafa;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    align-items: center;
    background-color: var(--background-dark);
    color: var(--white);
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    justify-content: flex-start;
    width: 100vw;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vw;
    width: auto;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color:#043e6c;
    border-radius: 1.5rem;
    vertical-align: middle;
    width: 250px;
    height: 150px;
    margin-top: 10px ;
}

.pointer {
    cursor: pointer;
}

.holder {
    display: flex;
    flex-direction: row;
    width: 90vw;
    justify-content: center;
}

a,
a:active,
a:link,
a:visited {
    color: var(--white);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0.8rem;
    width: 100vw;
    height: 10vh;
}

form {
    align-items: flex-start;
    background-color: var(--background-mid);
    border-bottom-left-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Poppins', sans-serif;
    gap: 1.5rem;
    padding: 2rem;
    justify-content: space-between;
    width: 30rem;
    height: 40rem;
}

form > input[type=date],
form > input[type=text],
form > textarea {
    background-color: var(--background-bright);
    border: 0;
    border-radius: 0.35rem;
    color: var(--white);
    height: 3rem;
    padding-left: 1rem;
    width: 100%;
}

form > input[type=date]:focus,
form > input[type=text]:focus,
form > textarea:focus {
    color: var(--white);
    outline: solid var(--yellow) 0.2rem;
}

form > input[type=submit] {
    background-color: var(--blue);
    border: 0;
    border-radius: 1.5rem;
    color: var(--white);
    font-weight: 600;
    height: 3rem;
    width: 10rem;
}

form > input[type=submit]:hover {
    background-color: var(--yellow);
    color: var(--black);
}

form > label {
    font-size: 1.4rem;
}

::placeholder {
    color: white;
}

.button {
    text-align: center;
    background-color: var(--blue);
    border: 0;
    border-radius: 1.5rem;
    color: var(--white);
    font-weight: 600;
    height: 3rem;
    line-height: 3rem;
    width: 10rem;
}

.button:hover {
    text-decoration: none;
    background-color: var(--yellow);
    color: var(--black);
}

h1 {
    color: var(--yellow);
    font-size: 5rem;
    font-family: 'Lobster', cursive;
    padding-left: 2rem;
}

h2 {
    font-size: 4rem;
    line-height: 5rem;
    padding: 2.5rem 1rem;
    text-align: center;
}

h3 {
    font-size: 3rem;
    font-weight: 600;
}

header {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    font-size: 1.2rem;
    height: 7rem;
    justify-content: space-between;
    padding-right: 2rem;
    width: 100vw;
}

footer {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

li {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

p {
    font-family: 'Poppins', sans-serif;
}

main {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    height: calc(100vh - 7rem);
    justify-content: space-around;
    min-width: 32rem;
    width: 40vw;
}

small {
    font-size: 1rem;
}

strong {
    color: var(--yellow);
    font-family: 'Lobster', cursive;
}

.completed {
    text-decoration: line-through;
}

.dueDate {
    grid-area: dueDate;
}

.task {
    grid-area: task;
}

.taskLabel {
    font-size: 1.8rem;
    font-weight: 600;
}

.taskList {
    background-color: var(--yellow);
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    color: var(--black);
    padding: 2rem;
}

.taskList h3 {
    padding-bottom: 2rem;
}

.todoItem {
    display: grid;
    font-size: 1.6rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 1rem; 
    grid-template-areas: 
      "imp task task task dueDate dueDate done del";
    padding: 1rem 0;
}

.fa-check:hover {
    color: green;
}

.fa-trash-can:hover {
    color: darkred;
}

.important {
    color: darkred;
}